html {
    scroll-behavior: smooth;
}

body {
    height: 100hv;
    place-items: center;
    margin: 0;
}

.container {
  overflow-x: hidden;
}


.carousel {
    width: 100vw;
    height: auto;
    overflow: hidden;


    .carousel-slide{
        width: 400%;
        height: auto;
        display: flex;
        flex: 0 0 auto;
        animation: carousel-animation 15s infinite alternate;
        a {
            display: flex;
            position: relative;
            width: calc(100% / 4);
            img {
                width: 100%;
            }
        }
    }
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    display: grid;
    grid-template-areas: auto;
}
.absolute-div {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;

}

.carousel-caption p {
    place-self: center center;
    color: white;
    text-align: center;
    font-size: 5vw;
    font-weight: bolder;
    -webkit-text-stroke: 0.1em black;
    paint-order: stroke fill;
}

.limit {
    max-width: 13%;
    place-self: center;
    background-color: white;
    border-radius: 50%;
    padding: 0 0.4% 0.4% 0.4%;
    margin-top: 2%;
    img {
        width: 100%;
        object-fit: contain;
    }
}

@keyframes carousel-animation {
    0%{transform: translateX(0%);}
    25%{transform: translateX(0%);}
    29.167%{transform: translateX(-25%);}
    54.167%{transform: translateX(-25%);}
    58.333%{transform: translateX(-50%);}
    83.333%{transform: translateX(-50%);}
    87.5%{transform: translateX(-75%);}
    100%{transform: translateX(-75%);}

}



.bar {
    width: 100%;
    height: 10vh;
    background-color: #265295;
    background-position: center;
    background-size: cover;
}

.sticky {
    position: sticky;
    top: 0;
}

nav {
    width: 100%;
    height: auto;
    text-align: center;
}

nav ul {
    width: auto;
    background: skyblue;
    height: 10vh;
    margin: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    width: 24%;
    font-size: 200%;
}



th, td {
    padding: 20px
}

th {
    width: 40vw;
    height: 0.01vw;
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin: 1em 1em auto;
    overflow: hidden;
}

th > img {
    width: 30vw; 
    height: auto;
    border-radius: 15%;
}

th > span {
    position: relative;
    text-align: center;
    padding: 0.4em 2em;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
}

td > p {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
}

