html {
    scroll-behavior: smooth;
}

body {
    height: 100hv;
    place-items: center;
    margin: 0;
    overflow-x: hidden;
}



.carousel {
    width: 100%;
    height: auto;
    overflow: hidden;


    .carousel-slide{
        width: 400%;
        height: auto;
        display: flex;
        flex: 0 0 auto;
        animation: carousel-animation 15s infinite alternate;
        a {
            display: flex;
            position: relative;
            width: calc(100% / 4);
            img {
                width: 100%;
            }
        }
    }
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    display: grid;
    grid-template-areas: auto;
}
.absolute-div {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
}

.carousel-caption p {
    place-self: center center;
    color: white;
    text-align: center;
    font-size: 5vw;
    font-weight: bolder;
    -webkit-text-stroke: 0.1em black;
    paint-order: stroke fill;
}

.limit {
    max-width: 13%;
    place-self: center;
    background-color: white;
    border-radius: 50%;
    padding: 0 0.4% 0.4% 0.4%;
    margin-top: 2%;
    img {
        width: 100%;
        object-fit: contain;
    }
}

@keyframes carousel-animation {
    0%{transform: translateX(0%);}
    25%{transform: translateX(0%);}
    29.167%{transform: translateX(-25%);}
    54.167%{transform: translateX(-25%);}
    58.333%{transform: translateX(-50%);}
    83.333%{transform: translateX(-50%);}
    87.5%{transform: translateX(-75%);}
    100%{transform: translateX(-75%);}

}



.bar {
    width: 100%;
    height: 9.9vh;
    background-color: #265295;

}

.sticky {
    position: sticky;
    top: 0;
}

nav {
    width: 100%;
    height: auto;
}

nav ul {
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    width: 24.2vw;
    margin: 0;
    padding: 0;
}

.wrap {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #265295;
}

.bar-overlay {
    position: absolute;
    width: 24.2vw;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease;
    background-color: #3f6092;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.image {
    max-width: 20%;
    padding-left: 38%;
    
}

.text {
    color: white;
    font-size: 2vw;
    padding-top: 1.2vw;
}

.wrap:hover .bar-overlay {
    opacity: 1;
    visibility: visible;
}

table {
    margin-top: 10vh;
}

th {
    width: 40vw;
    height: 5vh;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    margin: 1vh 1vw auto;
    overflow: hidden;
}

th > img {
    width: 35vw; 
    height: auto;
    border-radius: 15%;
}

th > span {
    position: relative;
    text-align: center;
    padding: 10% 20%;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
}

td > p {
    text-align: center;
    font-size: 2vw;
    font-weight: 400;
}

